.default-button {
  border: none;
  outline: none;
  border-radius: 1.5rem;
  background-color: transparent;
  color: #d6d6d6e7;
  font-weight: 700;
  cursor: pointer;
  padding-block: 0.5rem;
  padding-inline: 0.5rem;
  width: fit-content;
  height: fit-content;
  transition-property: color, scale;
  transition-duration: 0.1s;
  transition-timing-function: ease;
}

.default-button:hover {
  scale: 1.03;
  color: #fff;
}

.default-button.filled {
  background-color: #fff;
  color: #000;
}

.default-button.filled:hover {
  color: #000;
}
